div {
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden !important;
    background-image: url("https://1.bp.blogspot.com/-6ZUj3j3fTA0/XUmVaOMGUaI/AAAAAAAAn1M/LZ9qtCSV_BE-y8MX2BALHlSG7r3CN0qJwCLcBGAs/s1600/75016.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

iframe {
    width: 120vh;
    height: 68vh;
    position: fixed;
    animation: rotation 10s infinite linear;
    clip-path: circle(30% at 50% 50%);
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

img {
    width: 120vh;
    height: 120vh;
    position: fixed;
}





span{
  top: 2.5%;
  z-index: 2;
  position: fixed;
  font-size: 2em;
}

input{
  font-size: 1em;
  width: 75vw;
}




.next {   
    left: 15%;
}
.last {
    right: 15%;
}
.random {
    left: 12.5%;
    top: 85%;
}
.loop {
    left: 17.5%;
    top: 85%;
}
.play {
    right: 17.5%;
    top: 85%;
}
.stop {
    right: 12.5%;
    top: 85%;
}
.button {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white,
        inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
    height: 70px;
    margin: 0 30px 30px 0;
    position: fixed;
    width: 70px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.button:after {
    color: #e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}
.next:after {
    content: "◀";
    left: 21px;
    top: 20px;
    color: #00ff9f;
    text-shadow: 0px 0px 6px #00ff9f;
}

.last:after {
    content: "►";
    left: 23px;
    top: 20px;
    color: #00ff9f;
    text-shadow: 0px 0px 6px #00ff9f;
}
.random:after {
    content: "⤭";
    left: 25px;
    top: 20px;
    color: #00ff9f;
    text-shadow: 0px 0px 6px #00ff9f;
}

.loop:after {
    content: "⇄";
    left: 23px;
    top: 19px;
    color: #00ff9f;
    text-shadow: 0px 0px 6px #00ff9f;
}
.play:after {
    content: "►";
    left: 23px;
    top: 20px;
    color: #00ff9f;
    text-shadow: 0px 0px 6px #00ff9f;
}

.stop:after {
    content: "S";
    left: 27px;
    top: 20px;
    color: #00ff9f;
    text-shadow: 0px 0px 6px #00ff9f;
}
.button:hover {
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color: #0088cc;
}

.next:hover:after {
    /* color: #00ff9f;
    text-shadow: 0px 0px 6px #00ff9f; */
}

.last:hover:after {
    /* color: #00ff9f;
    text-shadow: 0px 0px 6px #00ff9f; */
}
.button:active {
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),
        inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
}

.button:active:after {
    color: #dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
