<div>
  <!-- Playlist Iframe -->
  <!-- https://www.youtube.com/embed/ VIDEO_ID /videoseries?list=PLAYLIST_ID -->
  <span>
    Playlist
    <input [value]="Playlist" (keyup.enter)="Playlist = $event.target.value;GenerateURL()">
  </span>

  <img 
  id="img" src="https://1.bp.blogspot.com/-IJc3LzR4a8I/XUpbDn095nI/AAAAAAAAn14/CuxD4Bpq7qETjKFkfY_GQXyMngXeK-LawCLcBGAs/s1600/bottom.png"/>
  <iframe
    id="yt1"
    [src]="sanitizer.bypassSecurityTrustResourceUrl(PlaylistURL)"
    frameborder="0"
    allow="autoplay; encrypted-media"
    allowfullscreen
  ></iframe>
  <img 
  id="img" src="https://1.bp.blogspot.com/-VGQJBdRfkqs/XUpbDmdkqBI/AAAAAAAAn10/61UaWi8g84c0bdPQ4jtpdL4YuFWhZWegQCLcBGAs/s1600/core.png"/>
  <img 
  id="img" class="arm-image" src="https://1.bp.blogspot.com/-14R_eiVJk0w/XUpbDuFRBsI/AAAAAAAAn18/MeiGKozodD0iad5WzYnJeLDMpWaExJ0RgCLcBGAs/s1600/arm.png"/>
  <div id="video-placeholder"></div>


  <a href="#" class="button next"></a>
  <a href="#" class="button last"></a>

  <a href="#" class="button random" (click)="shuffle = !shuffle;GenerateURL()"></a>
  <a href="#" class="button loop" (click)="loop = !loop;GenerateURL()"></a>

  <a href="#" id="play-button" class="button play"></a>
  <a href="#" id="pause-button" class="button stop"></a>
</div>