<div>
  <!-- Playlist Iframe -->
  <!-- https://www.youtube.com/embed/ VIDEO_ID /videoseries?list=PLAYLIST_ID -->
  <img 
  id="img" src="https://1.bp.blogspot.com/-IJc3LzR4a8I/XUpbDn095nI/AAAAAAAAn14/CuxD4Bpq7qETjKFkfY_GQXyMngXeK-LawCLcBGAs/s1600/bottom.png"/>
  <iframe
    id="yt1"
    src="https://www.youtube.com/embed/videoseries?list=PLxySa8Rx-er_crWm9uz9ETLVrPMpFBuX8&index=77&autoplay=0&loop=1&cc_load_policy=0&controls=0&iv_load_policy=3&modestbranding=1&showinfo=0&autohide=1"
    frameborder="0"
    allow="autoplay; encrypted-media"
    allowfullscreen
  ></iframe>
  <img 
  id="img" src="https://1.bp.blogspot.com/-VGQJBdRfkqs/XUpbDmdkqBI/AAAAAAAAn10/61UaWi8g84c0bdPQ4jtpdL4YuFWhZWegQCLcBGAs/s1600/core.png"/>
  <img 
  id="img" src="https://1.bp.blogspot.com/-14R_eiVJk0w/XUpbDuFRBsI/AAAAAAAAn18/MeiGKozodD0iad5WzYnJeLDMpWaExJ0RgCLcBGAs/s1600/arm.png"/>
  <div id="video-placeholder"></div>
</div>